.gallery
{
    display: flex;
    background: linear-gradient(90deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 100%), url('../../../images/bg1.png');
    background-size: cover;
    background-position: bottom;

    &_right
    {
        flex-grow: 1;
        padding: 40px;
        margin-left: 50px;
        min-height: 100vh;
    }

    &_mainTitle
    {
        font-size: 30px;
        font-weight: 600;
        color: $secondary;
    }

    &_mainTitle2
    {
        font-size: 30px;
        font-weight: 600;
        color: $secondary;
        margin-top: 60px;
        margin-bottom: -40px;
    }

    &_desc
    {
        margin-top: 25px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    input
    {
        display: none;
    }

    &_label
    {
        border: 2px solid gray;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
    }

    &_label.disable
    {
        pointer-events: none;
    }

    &_images
    {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    &_img
    {
        border-radius: 10px;
        overflow: hidden;
        width: 150px;
        height: 150px;
        margin: 10px;
        background-color: black;
        position: relative;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
        }
    }

    &_remove
    {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        cursor: pointer;
        transform: translate(-50%, -50%);
        display: none;
    }

    &_img:hover &_remove
    {
        display: block;
    }

    &_submit
    {
        width: 190px;
        border: none;
        border-radius: 10px;
        padding: 15px 0;
        margin-top: 35px;
        box-shadow: 0 0 15px rgb(0 0 0 / 15%);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        background-color: $primary;
        color: white;
    }
    
    &_err
    {
        font-size: 14px;
        color: $secondary;
        margin-top: 5px;
    }
}