// @font-face {
//     src: url('../../fonts/GianeGothicsans\ Regular.otf');
//     font-family: 'custom-font';
// }
body {
    font-family: 'Open Sans', sans-serif;    
    padding: 0;
    margin: 0;
    background-color: #fff;
}