.DisclaimerJES {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 42, 42, 0.534);


    &_inner {
    height: 600px;
    width: 350px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #E7ECF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    }


    &_top {
        height: 270px;
        width: 100%;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        background: url("../../Web-Assets-08.png");


        .logo {
            width: 160px;
            position: relative;
            bottom: 9px;
        }

        .backBtn {
            position: absolute;
            top: 14px;
            left: 22px;
            cursor: pointer;
            width: 32px;
        }

    }



    &_textWrapper {
        bottom: 40px;
        max-height: 330px;
        width: 80%;
        box-shadow: 0px 0px 12px -6px black;
        position: relative;
        border-radius: 15px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        // padding-top: 30px !important;
        // padding-bottom: 30px !important;
        padding: 20px 20px;

        p {
            font-size: 11.5px;
            color: #747474;
            font-weight: 600;
            word-break: break-all;
        }
    }

    &_textWrapper::-webkit-scrollbar {
    display: none;
    }
}